.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../../assets/newbackground.png')no-repeat center center/cover;
}
.contact h3
{
    padding-bottom: 25px;
    content-visibility: center;
    text-decoration: underline;
    font-size: 30px;
}
.contact:before {
    content: '';
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.contact .container .form-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 color: #f8f8f8;
}

.contact form {
    width: 50%;
    margin: 1rem;
}

.contact .form-container div {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin: 2rem 0 .7rem 0;
    display: none;
}

@media screen and (max-width: 940px) {
    .contact form {
        width: 100%;
    }
}








